body {
	height: 100vh;
	font-family: "Roboto Mono", monospace;
	text-align: center;
	background-image: url("https://593d958c9e55088bf440f6d5.redesign.static-01.com/l/images/410420f96d2ed0d162a40bad7ec268e3446ccb53.jpg");
	background-color: #000000;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
  }
  
  .container {
	text-align: center;
	padding: 20px;
  }
  
  .page-title {
	color: #ffffff;
	margin: 0 0 5px;
  }
  
  .page-subtitle {
	color: #ffffff;
	margin-top: 5px;
  }

  body > img {
	margin: 0 10px;
  }
  
  img {
	max-height: 250px;
  }
  
  p {
	text-align: center;
	font-size: 32px;
	color:#ffffff;
  }
  
  h1 {
	font-size: 42px;
	color:#ffffff;
  }

  footer {
	color:#ffffff;
  }